.nav {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
.w {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999;
}
.local a {
    color: #999;
}
.local .local-icon {
    margin-right: 4px;
    color: #f10215;
    font-size: 14px;
}
.shoplist .slide {
    padding: 0 2px;
    color: #ccc;
}
.shoplist a {
    color: #999;
}
.shoplist > li {
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid transparent;
}
.shoplist .regist{
    color: #f10215;
}
.shoplist .cg {
    color: #f00;
}



.myjd {
    position: relative;
}
.myjd .dropdown{
    position: absolute;
    top: 30px;
    left: -1px;
    width: 280px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    display: none;
}
.myjd:hover .dropdown {
    display: block;
}
.myjd:hover  {
    border: 1px solid #ccc;
    background-color: #fff;
}
.myjd .dropdown dl {
    padding: 10px 0px 10px 15px;
}
.dropdown dl:first-of-type{
    border-bottom: 1px solid #eee;
}
.dropdown dl::after {
    content: "";
    display: block;
    clear: both;
}
.dropdown dl dd a:hover{
    color: #e33333;
}
.myjd .dropdown dl dd {
    float: left;
    width: 126px;
    line-height: 24px;
}



.purchase {
    position: relative;
}

.purchase dd {
    float: left;
    width: 56px;
    line-height: 24px;
    white-space: nowrap
}
.purchase .dropdown dl {
    padding: 10px 0px 10px 15px;
}
.purchase:hover .dropdown {
    display: block;
}
.purchase:hover  {
    border: 1px solid #ccc;
    background-color: #fff;
}

.purchase:hover  {
    border: 1px solid #ccc;
    background-color: #fff;
}
.purchase .dropdown {
    width: 157px;
    position: absolute;
    top: 30px;
    left: -1px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    display: none;
}


.custom-serve {
    position: relative;
}
.custom-serve:hover {
    border: 1px solid #ccc;
    background-color: #fff;
}
.custom-serve .dropdown dt {
    padding-left: 15px;
    font-weight: 700;
    color: #666;
}
.custom-serve .dropdown dd {
    padding-left: 15px;
    float: left;
    width: 70px;
    line-height: 24px;

}
.custom-serve:hover .dropdown{
    display: block;
}
.custom-serve .dropdown{
    position: absolute;
    top: 30px;
    left: -97px;
    width: 170px;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    display: none;
    z-index: 10;
}