@font-face {
    font-family: 'iconfont';  /* project id 1907424 */
    src: url('//at.alicdn.com/t/font_1907424_54r4cyrtplo.eot');
    src: url('//at.alicdn.com/t/font_1907424_54r4cyrtplo.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1907424_54r4cyrtplo.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1907424_54r4cyrtplo.woff') format('woff'),
    url('//at.alicdn.com/t/font_1907424_54r4cyrtplo.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1907424_54r4cyrtplo.svg#iconfont') format('svg');
  }
.iconfont {
    font-family: 'iconfont';
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.w {
    width: 1190px;
    margin: auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}