.my-swiper > * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.my-swiper {
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
}
.my-swiper .lBtn , .my-swiper .rBtn {
    position: absolute;
    width: 30px;
    height: 35px;
    top: 50%;
    margin-top: -17.5px;
    background-color: rgba(0,0,0,.15);
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.my-swiper .lBtn {
    left:0px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-left: -5px;
}
.my-swiper .rBtn {
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-right: -5px;
}
.my-swiper .my-swiper-spot {
    position: absolute;
    width: 100%;
    bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    
}
.my-swiper .my-swiper-spot span {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: rgba(255,255,255,.4);
    margin-right: 4px;
}
.my-swiper .my-swiper-spot .active {
    background-color: #fff;
}